.github/**
.vscode/**
.vscode-test/**
images/**
!images/logo.png
out/test/**
src/**
.gitignore
.npmignore
.prettierignore
renovate.json
vendor/bin/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
