name: Test Extension
on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.21.0'
      - run: mkdir artifacts
      - run: npm ci
      - name: Prettier
        run: npm run prettier-check
      - name: Lint
        run: npm run eslint
      # - name: Download Phpactor
      #   run: npm run download-phpactor
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer
      - name: Composer Install
        run: composer install --prefer-dist --no-interaction --optimize-autoloader --no-dev
      - run: xvfb-run -a npm test
