on:
  release:
    types:
      - created

name: Upload the extension
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16.14.2'
      - run: npm ci
      - name: Download Phpactor
        run: npm run download-phpactor
      - run: npm run compile
      - run: mkdir artifacts
      - name: Package
        run: npx vsce package --out=artifacts/phpactor.vsix ${{ github.event.release.tag_name }}
      - name: 'Release Extension'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./artifacts/phpactor.vsix
          asset_name: phpactor.vsix
          asset_content_type: application/octet-stream
